body {
  font-family: Arial, sans-serif;
  background: #f0f0f0;
  text-align: center;
  padding: 50px;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  display: inline-block;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* overflow: hidden; */
  transition: max-height 0.5s ease;
}

input {
  padding: 10px;
  width: 250px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  border: none;
  background: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

.img-box {
  width: 200px;
  border-radius: 10px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

.img-box img {
  width: 100%;
}

.img-box.show-image {
  max-height: 300px;
  opacity: 1;
  margin: 10px auto;
  border: 1px solid white;

}